
@font-face {
  font-family: 'Bazzi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
 
  background-color: lightblue !important;
}

h1 {
  top: 10%;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: 함초롬바탕, Helvetica, sans-serif;
  color: darkcyan;
}

h3 {
  font-family: 함초롬바탕, Helvetica, sans-serif;
  color: black;
}

h4 {
  font-family: sans-serif;
  color: black;
  text-align: center;
  font-size: 20px;
}

h5 {
  font-family: 휴먼명조, Helvetica, sans-serif;
  color: black;
  margin-left: 20px;
  font-size: 17px !important; 
}

table, td {
  width: 1300px;
  margin: auto;
  border: 1px solid; 
   
} 

.imagewoman {
  position: absolute;
  top: 830px;
  left: 310px;
}

.container {
  position: relative;
  
  height: auto;
  opacity: 0.8;
}

.image {
  position: relative;
  opacity: 0.8;
  margin-left: 150px;
}

.center {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

.bottom {
  position: absolute;
  top: 945px;
  width: 100%;
  left: 570px;
}



.talk {
  position: absolute;
  top: 920px;
  width: 100%;
  left: 605px;
}

.space {
  margin-block: 20px;
  margin-left: 250px;
  margin-right: 300px;
}


p {
  font-family: 'Bazzi', Helvetica, sans-serif;
  color: black;
  font-size: 19px;
}