<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block content %} 
    <div class="imagewoman">
      <img src="https://image.freepik.com/free-vector/vector-illustration-of-a-woman-sitting-in-front-of-the-computer-and-working-on-a-project-searching-chatting_101484-29.jpg" alt="컴퓨터하는 사진" width="700" height="600">
    </div>

    <br>
    <br>


    <div class="center">
        <big><h2><strong><멋쟁이 라이언 지원공고></strong></h2></big>
      <h5>멋쟁이 아기 라이언들을 뽑습니다. 고민은 NO! 지금 바로 지원하세요~</h5>
      <br>
      <br>
      
      <h4>지원방법</h4>

      <table>
        <td> <div class="space">
         <ol>
            <li> 개성있고 열정이 넘치는 당신은 우리의 인재상! 멋쟁이 라이언에 지원해보세요~</li>
            <li> 모집기간: 5/3 ~ 5/7</li>
            <li> 본인을 소개하는 질문 2개만 작성해주시면 지원완료!</li>
            <li> 지원은 '제출' 버튼 하나만 클릭하면 끝!</li>
            <li> 선발결과는 5월 12일 오후 7시에 나옵니다. </li>
            <li> 아기라이언이 될 수 있는 기회는 지금뿐! 여러분 많관부~</li>
         </ol>
        </td>
     </table>
 
    </div>

   <div class="talk">
      <p>와! 멋쟁이 라이언이잖아!!</p>
      <p>나도 아기라이언이 되고 싶당ㅠㅠ</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'고민은 No'라고 되어있으니까 </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;한 번 지원해보자ㅎㅎ</p>
   </div>
   {% endblock %}
  
