<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %} 
  <div class="container">
    <img src="https://img.insight.co.kr/static/2019/04/03/700/4cbsd123234t969i68d5.jpg" alt="한강 사진" width="1245">
  </div>

  <br>
  <div class="image">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLMeQqCSMFSmR0FekL_qvh9xizBAoZieXfT1fqH1gsVrjWQZUrdD4Cv1t-jnEUgprc1MU&usqp=CAU" alt="인사 사진" width="300" height="300">
    
    <img src="https://pbs.twimg.com/profile_images/975321969649336320/VuUg1XZy_400x400.jpg" alt="말풍선 사진" width="400" height="300">
    <img src="{% static 'images/image01.jpg' %}" alt="멋사 사진" width="100" height="100"> 
 
  </div>


  <div class="center">
    <br>
    <h1><strong>안녕하세요!</strong></h1>
    <h5>저는</h5>
    <h3>국제통상학과 2학년</h3>
  <h2>김영서입니다 :)</h2>

  <p>저는 학교 생활을 못 해보아서 앞으로 해보고 싶은 것이 많습니다...!</p>
  </div>

  <div class="bottom">
    <br>
    <br>
    <p>저에 대한 구체적인 정보는</p>
    <p>다음 페이지에서 보여드릴게요!</p>
  </div>
{% endblock %}
  
