<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %} 
  <div class="container">
    <img src="{%static 'images/image1.jpg'%}" alt="한강 사진" width="1250">
  </div>

  <br>
  <div class="image">
    
    <img src="{%static 'images/image2.png'%}" alt="인사 사진" width="300" height="300">
    
    <img src="{%static 'images/image3.jpg'%}" alt="말풍선 사진" width="400" height="300">
    
 
  </div>


  <div class="center">
    <br>
    <h1><strong>안녕하세요!</strong></h1>
    <h5>저는</h5>
    <h3>국제통상학과 2학년</h3>
  <h2>김영서입니다 :)</h2>

  <p>저는 학교 생활을 못 해보아서 앞으로 해보고 싶은 것이 많습니다...!</p>
  </div>

  <div class="bottom">
    <br>
    <br>
    <p>저에 대한 구체적인 정보는</p>
    <p>다음 페이지에서 보여드릴게요!</p>
  </div>

  <h2><a href="{%url 'main:new'%}">글쓰기</a></h2>
  
  <h1>글 목록</h1>
  <div>
    {% for post in posts %} 
    <div>
      <h3>{{post.title}}</h3>
      {{post.writer}}<br>
      {{post.summary}}
      <a href="{%url 'main:detail' post.id%}">...자세히</a>
      <br>
    </div>
    {%endfor%}
  </div>



{% endblock %}
  
